.categories-navbar{
    text-align: center;
}

.categories-navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(102, 101, 101);
}

button {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    background: none;
    border: none;
    padding: 1rem;
    color: whitesmoke;
    letter-spacing: 1.5px;

}

button:hover{
    background-color: rgb(216, 216, 215);
    color: black;
}

button:focus{
    color: black;
    background-color: rgb(238, 238, 238);
}
