<div class="navbar">
    <div class="logo">
        <span (click)="onHomeClicked()">SHOPPING </span><br/>
        <span (click)="onHomeClicked()">ONLINE</span>
    </div>
    <div *ngIf="!stateService.isLoggedIn" class="sign-in-or-register-links">
        <span class="link" (click)="onSignInClicked()">Sign in</span> <span class="or-text"> or</span> <span
            class="link" (click)="onRegisterClicked()"> Register</span>
    </div>
    <div class="menu" *ngIf="stateService.isLoggedIn">
        <span *ngIf="!stateService.isAdmin">
            <button class="btn" (click)="onOrdersClicked()">My Orders</button>
            <button class="btn" (click)="onMyProfileClicked()">My Profile</button>
            <button class="btn" (click)="onAboutUsClicked()">About Us</button>
        </span>
        <button class="btn logout" (click)="onLogoutClicked()">Logout</button>

    </div>
    <div class="search">
        <input (click)="onSearchFeildClickd()" class="search-input" type="text" placeholder="Search"
            [(ngModel)]="stateService.searchValue" />
        <button class="search-btn">Search</button>
    </div>

    <button *ngIf="stateService.isLoggedIn && !stateService.isAdmin" class="btn cart-btn" (click)="onCartClicked()"
        (mouseenter)="onCartHovered()" (mouseleave)="onCartLeaved()">
        My Cart <span class="cartLength">{{stateService.cart.length}}</span>
    </button>
</div>
<div>
    <app-mini-cart (viewCartClicked)="closeMiniCart()" (mouseenter)="onMiniCartHovered()"
        (mouseleave)="onMiniCartLeaved()"
        [ngStyle]="{'display': isCartHovered || isMiniCartHovered ? 'block' : 'none'}"></app-mini-cart>
</div>