.order{
    width: 80%;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-left: 10%;
    height: 100vh;
}

.header{
    grid-column: span 2;
    text-align: start;
    margin-left: 10%;
}

.select-shipping-part{
    padding: 5%;
    background-color: white;
    margin: 0 1.25rem 1.25rem 1.25rem;
}

.select-shipping-date-text{
    font-weight: 600;
}

.shipping-date-error{
    margin-top: 1rem;
    text-align: center;
    color: red;
}

.credit-card-error{
    margin-top: 1rem;
    color: red;
}

h5{
    display: inline-block;
    padding-right: 2%;
    color: gray;
}

input{
    margin-left: 1rem;
}

.user-details{
    padding: 2% 5% 5% 5%;
    background-color: white;
    margin: 1.25rem;
}

.user-details-header{
    padding: 1.25rem;
    display: grid;
    grid-template-columns: 70% 30%;
}

.user-details-headline{
    font-weight: 600;
}

.user-details-div{
    padding-left: 1.25rem;
}

.edit-profile-btn{
    cursor: pointer;
    border: none;
    background-color: rgb(218, 218, 216);
    padding: 0.5rem;
}

.payment-details{
    padding: 5% 5% 2% 5%;
    background-color: white;
    margin: 1.25rem;
}

.email{
    margin-top: 1rem;
}

.order-btn{
    cursor: pointer;
    border: none;
    text-align: center;
    background-color: black;
    color: white;
    padding: 2%;
    width: 60%;
    margin: 1.25rem;
}

.btn{
    text-align: center;
}

.order-btn:hover{
    background-color: rgb(56, 55, 55);
}

.text{
    margin-left: 1rem;
}

.input{
    text-align: start;
    color: gray;
    font-weight: 600;
    font-size: small;
    letter-spacing: 1px;
    margin-top: 1rem;
}

input{
    margin-top: 0.5rem;
    border-radius: 2px;
    border: 1px solid black;
    padding: 0.5%;
    outline: none;
    width: 50%;
}

.products-container{
    padding: 0 5% 3% 5%;
    background-color: white;
    margin: 0 1.25rem 1.25rem 1.25rem;
    max-height: 80vh;
}

.items{
    text-align: start;
    border-bottom: 1px solid rgb(170, 169, 169);
    padding: 1.25rem;
}

.container{
  max-height: 60%;
  overflow-y: auto;
}

.product-card{
    border-bottom: 1px solid rgb(170, 169, 169);
    padding: 1.25rem;
    display: grid;
    grid-template-columns: 40% 60%;
}

.image{
    width: 90px;
}

img{
    width: 90px;
}

.price{
    font-weight: 600;
    margin-bottom: 1rem;
}

.name{
    margin-bottom: 0.25rem;
}

.description{
    color: gray;
    font-size: smaller;
    margin-bottom: 1rem;
}

.qty{
    font-weight: 600;
}

.total-price{
    margin-top: 1.25rem;
    font-weight: 600;
    display: grid; 
    grid-template-columns: 50% 50%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
::-webkit-scrollbar-button{
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(218, 218, 218); 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(179, 179, 176); 
}
