.home-container{
    display: grid;
    grid-template-columns: 25% 75%;
}

.product-container{
    display: inline-block;
    text-align: center;
    margin: 1.5%;
}

.home{
    text-align: center;
    margin-left: 1%; 
    height: 80vh;
    overflow-y: auto;
}